<h1 class="team"> <%= @team_name %> </h1>

</h2> Team Motto: <%= @team_motto %> </h2>

<h2 class="member"> Hero Name: <%= @member_name_1 %> </h2>

<h6>
  Hero Power: <%= @member_power_1 %>
  Hero Biography: <%= @ship_booty_1 %>
</h6>



<h2 class="ship">
  Ship 2 Name: <%= @ship_name_2 %>
  Ship 2 Type: <%= @ship_type_2 %>
  Ship 2 Booty: <%= @ship_booty_2 %>
</h2>



