<h1 class="team"> <%= @team_name %> </h1>

</h2> Team Motto: <%= @team_motto %> </h2>

<h2 class="member"> Hero Name: <%= @member_name_1 %> </h2>

<h6>
  Hero Power: <%= @member_power_1 %>
  Hero Biography: <%= @member_bio_1 %>
</h6>

<h2 class="member"> Hero Name: <%= @member_name_2 %> </h2>

<h6>
  Hero Power: <%= @member_power_2 %>
  Hero Biography: <%= @member_bio_2 %>
</h6>

<h2 class="member"> Hero Name: <%= @member_name_3 %> </h2>

<h6>
  Hero Power: <%= @member_power_3 %>
  Hero Biography: <%= @member_bio_3 %>
</h6>

